<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing">
        <tbody>
        <tr th:each="job : ${jobs}">
            <th>ID: </th>
            <td class="list" th:text="${job.id}"></td>
            <th>Name: </th>
            <td class="list" th:text="${job.name}"></td>
            <th>Employer: </th>
            <td class="list" th:text="${job.employer}"></td>
            <th>Location: </th>
            <td class="list" th:text="${job.location}"></td>
            <th>Position Type: </th>
            <td class="list" th:text="${job.positionType}"></td>
            <th>Skills: </th>
            <td class="list" th:text="${job.coreCompetency}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>